.top-header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 237);
    padding: 6px 20px;
    border-bottom: 2px solid #ddd;
    z-index: 9999;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border-bottom: 2px solid rgb(115, 115, 115);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

body.dark-mode .top-header {
    background-color: rgb(48, 48, 35);
    border-bottom: 2px solid rgb(140, 140, 140);
}